apiVersion: v1
kind: Secret
metadata:
  name: wellnesshub-secret
  namespace: wellnesshub
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: "REMPLACE_PAR_TON_MOT_DE_PASSE"
  MAIL_HOST: smtp.gmail.com
  MAIL_PORT: "587"
  MAIL_USERNAME: "REMPLACE_PAR_TON_EMAIL"
  MAIL_PASSWORD: "REMPLACE_PAR_TON_MOT_DE_PASSE_EMAIL"
  JWT_SECRET: "REMPLACE_PAR_TON_JWT_SECRET_64_CHARS"
  JWT_EXPIRATION: "3600000"
  JWT_REFRESH_EXPIRATION: "604800000"
  SERVICE_API_KEY: "REMPLACE_PAR_TON_API_KEY"
